$main-color: #b2d842;
$main-light: #cff362;
$white: #fff;
$dark: #353535;
$main-gradient-solid: linear-gradient(
	45deg,
	rgb(206, 248, 80),
	rgb(118, 143, 44)
);
$main-gradient-footer: linear-gradient(
	90deg,
	rgba(118, 143, 44, 1) 0%,
	rgb(203, 255, 45) 50%,
	rgba(118, 143, 44, 1) 100%
);
